.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.caps-text {
    font-size: 4vw;
    padding: 1vh;
    color: rgba(46, 49, 49, 1);
    font-family: OrbitronSemiBold, sans-serif;
}
