.table {
    height: 100vh;
    margin-top: 5vh;
    max-height: 40vh;
    background: rgba(37, 38, 35, 0.5);
    width: 100%;
    max-width: 50vw;
    right: 0;
    position: relative;
    &__no-data {
        text-align: center;
        margin-top: 15vh;
        font-size: 2vw;
        font-family: OrbitronSemiBold, sans-serif;
        color: #fff;
    }
    &__wrap {
        padding: 3vh 2vw;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 40vh;
        max-height: 40vh;
        overflow-y: scroll;
    }
    &__title {
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 1.5vw;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-color: black;
        font-family: OrbitronSemiBold, sans-serif;
    }
    &__list {
        display: flex;
        flex-direction: column;
        padding: 1vh 0;
    }
    &__player {
        padding: 0.5vh 1vw;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin: 1vh 0;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.2);
        }
        &-name {
            z-index: 2;
            font-size: 1.5vw;
            color: #fff;
            margin-right: 1vw;
            font-family: KarlaRegular, sans-serif;
        }
        &-score {
            z-index: 2;
            font-size: 1.5vw;
            color: #fff;
            font-family: KarlaRegular, sans-serif;
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
