.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(228, 233, 237, 1);
    position: relative;
    border: 1vw ridge rgba(108, 122, 137, 1);
}

.game-over {
    font-size: 4vw;
    padding: 1vh;
    color: rgba(214, 69, 65, 1);
    font-family: OrbitronSemiBold, sans-serif;
}

.score {
    position: absolute;
    text-transform: uppercase;
    font-size: 2vw;
    top: 4vh;
    color: rgba(46, 49, 49, 1);
    font-family: OrbitronSemiBold, sans-serif;
}

.warning {
    font-size: 2vw;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-family: OrbitronSemiBold, sans-serif;
    color: rgba(214, 69, 65, 1);
}
